<html>
  <head>
    <!-- STYLES -->
    <style>
      body {
        margin: 0;
        padding: 0 5px;
      }
      #logconsole {
        background-color: rgba(255,255,255,0.7);
        min-height: 100px;
        max-height: 100%;
        padding: 0 5px;
        border-radius: 5px;
        overflow-y: scroll;
        font-size: 9px;
        font-family: "Lucida Console", Monaco, monospace;
      }
      #logconsole p {margin: 0 0 5px 0;}
      #logconsole p.info {color: #525252;}
      #logconsole p.danger {color: #ff0000; font-weight: bold;}
      #logconsole p.warning {color: #b66a03;}
      #logconsole p.success {color: #006c00;}
      #logconsole p span.status {
          float: right;
          font-size: 8px;
          padding: 1px 3px;
          color: white;
          border-radius: 5px;
      }
      #logconsole p span.status.info {background-color: #525252}
      #logconsole p span.status.danger {background-color: #ff0000;}
      #logconsole p span.status.warning {background-color: #b66a03;}
      #logconsole p span.status.success {background-color: #006c00;}

    </style>
  </head>
  <body>
    <!-- Main logger div -->
    <div id="logconsole" data-timestamp="0" data-lasttimestamp="0"></div>

    <!-- Scripts -->
    <script src="/static/jquery-2.1.0.min.js"></script>
    <script>

        $(window).ready(function () {
            // ititiate logger
            update_logger($("#logconsole"));


            // logger functions
            function update_logger($console) {
                var min_interval = 500;
                var interval = parseInt("{{ parameters.interval }}");
                if (isNaN(interval)) interval = min_interval;
                $.getJSON("{{ parameters.url }}?timestamp=" + $console.data("timestamp"), function (data) {
                    var autoscroll = ($console.scrollTop() == $console[0].scrollHeight - $console.outerHeight()); // check log window is scrolled to bottom
                    $console.html("");
                    $(data.messages).each(function (i, m) {
                        //var ts = new Date(m[0] * 1000);
                        //$console.append("<p class='"+m[1]+"'>"+ts.getHours()+":"+ts.getMinutes()+":"+ts.getSeconds()+"> "+m[2]+"</p>");
                        $console.append("<p class='" + m[1] + "'><span class='status "+m[1]+"'>"+m[1]+"</span>" + format_timestamp(m[0], data.timestamp) + " | " + m[2] + "</p>");
                    });
                    if (autoscroll) $console.animate({"scrollTop": $console[0].scrollHeight}, "slow"); // scroll to bottom of div
                    $console.data("lasttimestamp", data.timestamp); // save last timestamp
                    setTimeout(function () {
                        update_logger($console)
                    }, Math.max(interval, min_interval));  // refresh logger
                }).fail(function(){
                    setTimeout(function () {
                        update_logger($console)
                    }, 10000);
                });
            }

            function format_timestamp(ts, curts) {
                var date = new Date(ts * 1000);
                var days = ["SUN", "MON", "TUE", "WED", "THU", "FRI", "SAT"];

                if (curts - ts < 60) return Math.round(curts - ts) + "s ago";
                else if (date.getDay() == (new Date().getDay())) return pad(date.getHours(), 2) + ":" + pad(date.getMinutes(), 2) + ":" + pad(date.getSeconds(), 2);
                else return days[date.getDay()] + pad(date.getHours(), 2) + ":" + pad(date.getMinutes(), 2) + ":" + pad(date.getSeconds(), 2);
            }

            function pad(n, width, z) {
                z = z || '0';
                n = n + '';
                return n.length >= width ? n : new Array(width - n.length + 1).join(z) + n;
            }
        });

    </script>
  </body>
</html>
