<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
    <head>
        <meta http-equiv="Refresh" content="{{ parameters.delay }}">
    <body>
        <img id="image" src="" style="border: none; width: 100%">
    </body>

    <script>
        document.getElementById("image").src="{{ parameters.src }}?t="+Date.now();
    </script>
</html>
