<strong style="font-size: 18px">Welcome to the Realtime Robot Tracker!</strong><br>
This page allows you to check out underwater robots in action collecting seafloor images! We are currently at Scott Reef in
the Timor Sea. We will be here up until 6 APRIL.
Click <b><a href="http://helpscience.marine.acfr.usyd.edu.au" target="_blank">here</a></b> to help label the images that are collected!
Click <b><a href="javascript:void(0)" onclick="show_modalform('/templates/html-snippets/systeminfo.html')">here</a></b> to find out more about the current expedition.