<h4 style="text-align: center;"><i class="fa fa-save"></i> Cache tiles for offline use</h4>
<hr>
<form class="auvform form-horizontal" action="/plugin/datatools.mbtiles.cache_tiles" method="POST">
    {# tilelayer_name, bbox, max_zoom_level #}
    <div class="form-group">
        <label for="import_url" class="col-sm-3" >Source:</label>
        <div class="col-sm-9">
            <select name="import_url" id="import_url" class="form-control">
                <option value="http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png">Open Street Map (max zoom 18)</option>
                <option value="http://services.arcgisonline.com/ArcGIS/rest/services/Ocean_Basemap/MapServer/tile/{z}/{y}/{x}">Esri Oceans (max zoom 10)</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="tilelayer_name" class="col-sm-3" >Save As:</label>
        <div class="col-sm-9">
            <input type="text" id="tilelayer_name" class="form-control" name="tilelayer_name" placeholder="tilelayer_name">
        </div>
    </div>
    <div class="form-group">
        <label for="max_zoom_level" class="col-sm-6" >Max zoom:</label>
        <div class="col-sm-6">
            <input type="number" min="0" max="20" id="max_zoom_level" class="form-control" name="max_zoom_level" placeholder="max_zoom_level">
        </div>
    </div>
    <hr>
    <label class="col-sm-12" >Bounding box:</label>
    <div class="input-group">
        <input type="text" class="form-control" id="ltlat" name="ltlat" placeholder="Lat (left top)">
        <span class="input-group-btn" style="width:0px;"></span>
        <input type="text" class="form-control" id="ltlon" name="ltlon" placeholder="Lon (left top)">
        <span class="input-group-btn" style="width:0px;"></span>
        <a class="btn btn-primary btn-sm input-group-addon" href="javascript:void(0)" onclick="getLatLon($('#ltlat'), $('#ltlon'))"><i class="fa fa-crosshairs"></i></a>
    </div>
    <div class="input-group">
        <input type="text" class="form-control" id="rblat" name="rblat" placeholder="Lat (right bottom)">
        <span class="input-group-btn" style="width:0px;"></span>
        <input type="text" class="form-control" id="rblon" name="rblon" placeholder="Lon (right bottom)">
        <span class="input-group-btn" style="width:0px;"></span>
        <a class="btn btn-primary input-group-addon" href="javascript:void(0)" onclick="getLatLon($('#rblat'), $('#rblon'))"><i class="fa fa-crosshairs"></i></a>
    </div>
    <hr>
    <div class="form-group">
        <div class="col-sm-12" style="text-align: right;" id="submit-container">
            <button type="submit" class="btn btn-danger"><i class="fa fa-external-link-square"></i> Run process</button><div class="help-block">This may take a while.</div>
        </div>
    </div>
</form>



<script>
//callback handler for form submit
$(".auvform").submit(function(e) {
    var $form = $(this);
    //var postData = $form.serializeArray();
    /*
    var postData = {};
    $form.serializeArray().map(function(x){
        postData[x.name] = x.value;
    });
    */
    var postData = {
        tilelayer_name:$form.find("input[name='tilelayer_name']").val(),
        bbox:[
                parseFloat($form.find("input[name='ltlon']").val()),
                parseFloat($form.find("input[name='rblat']").val()),
                parseFloat($form.find("input[name='rblon']").val()),
                parseFloat($form.find("input[name='ltlat']").val())
        ],
        max_zoom_level:parseInt($form.find("input[name='max_zoom_level']").val()),
        import_url: $form.find("select[name='import_url']").val(),
        application_path: "{{ settings.application_path }}"
    };

    // TODO: validate

    $form.find("#submit-container").html("<i class='fa fa-spinner fa-spin fa-3x fa-fw'></i> <br>Running... Please be patient.");

    var formURL = $form.attr("action");
    $.ajax(
    {
        url : formURL,
        type: "POST",
        data : JSON.stringify(postData),
        dataType: "json",
        contentType: 'application/json;charset=UTF-8',
        success:function(data, textStatus, jqXHR){
            $form.html(data.msg).addClass('alert alert-success');
        },
        error: function(jqXHR, textStatus, errorThrown){
            $form.html("ERROR!  "+errorThrown).addClass('alert alert-danger');
        }
    });
    e.preventDefault(); //STOP default action
    //e.unbind(); //unbind. to stop multiple form submit.
});


function getLatLon($lat, $lon) {
    $("#modal").modal("hide");
    $(".leaflet-container").css("cursor","copy");
    $(".leaflet-control-mouseposition").css("font-size","30px");
    map.map.on("click",function(e){
        $lat.val(e.latlng.lat);
        $lon.val(e.latlng.lng);
        map.map.off("click");
        $(".leaflet-container").css("cursor","inherit");
        $(".leaflet-control-mouseposition").css("font-size","inherit");
        $("#modal").modal("show");
    });
}
</script>