
<style>
    #geotiff-click-info {
        color: white;
{#        text-align: center;#}
        padding: 5px;
    }
    #geotiff-click-info .sml {
        font-size: 10px;
    }
    #geotiff-click-info .depth {
        font-weight: bold;
    }
    #geotiff-click-info table tr {
        margin-bottom: 10px;
    }
    #geotiff-click-info table {
        margin-bottom: 10px;
        width: 100%;
    }
    #geotiff-click-info .info {
        margin-top: 10px;
    }
</style>

<div id="geotiff-click-info">
    <button class="btn btn-success btn-sm inspect" style="width: 50%">
        <i class="fa fa-crosshairs"></i> INSPECT
    </button><button class="btn btn-success btn-sm profile" style="width: 50%">
        <i class="fa fa-picture-o"></i> PROFILE
    </button>
    <div class="info">--</div>
</div>

<script>
    $(document).ready(function(){
        var $container = $("#geotiff-click-info");
        var $info = $container.find(".info");
        var $btn_inspect = $container.find("button.inspect");
        var $btn_profile = $container.find("button.profile");
        var click_map = map.map;
        var $cursor_container = $(".leaflet-container");
        var $cursor_info = $(".leaflet-control-mouseposition");

        var loading = '<i class="fa fa-circle-o-notch fa-spin fa-fw"></i>';

        $btn_inspect.click(function(){
            $info.html("Click a point on the map...")
            getLatLon(handle_point_click);
        });
        $btn_profile.click(function(){
            get_profile_options();
            getLatLon(handle_profile_click);
        });

        var point1=null, point2=null;

        function getLatLon(callback) {

            //$modal.modal("hide");
            click_map.off("click");
            point1=null, point2=null;
            $cursor_container.css("cursor","crosshair");
            $cursor_info.css("font-size","30px");

            click_map.on("click",function(e){
                var lat = e.latlng.lat;
                var lon = e.latlng.lng;

                $info.html(loading);

                callback(lat, lon);

                //$modal.modal("show");
            });
        }

        function handle_point_click(lat, lon) {
            $.getJSON("/plugin/datatools.geotiff.maptracker_latlon_to_depth?lat="+lat+"&lon="+lon,
                  function(data){
                    var $table = $("<table>").append(
                        $("<tr><td>LAT:</td><td>LON:</td></tr>"),
                        $("<tr class='sml'><td>"+data.latd+"<br>"+data.latm+"<br>"+data.latdms+"</td><td>"+data.lond+"<br>"+data.lonm+"<br>"+data.londms+"</td></tr>") //,
                        //$("<tr><td>DEPTH:</td><td>"+data.depth+"</td></tr>")
                    );
                    $info.html("").append($table, $("<div>DEPTH: "+data.depth.toPrecision(6)+"</div>"));
                  }
            );
            click_map.off("click");
            $cursor_container.css("cursor","inherit");
            $cursor_info.css("font-size","inherit");
        }

        function handle_profile_click(lat, lon) {
            if (point1 == null) {
                $info.html("Click second point...");
                point1 = [lat, lon]
            }
            else if (point2 == null) {
                point2 = [lat, lon];

                show_profile(point1, point2);

            }
        }


        function show_profile(point1, point2) {
            $info.html(loading);
            var url = "/plugin/datatools.geotiff.maptracker_depth_profile?lat1="+point1[0]+"&lon1="+point1[1]+"&lat2="+point2[0]+"&lon2="+point2[1];
            if (point1.length == 3 && point2.length ==3)
                url += "&dep1="+point1[2]+"&dep2="+point2[2];
            console.log(url);
            $.getJSON(url,
                  function(data){
                      console.log(data);
                      show_modalform("/templates/iframes/refresh-image.html?src="+data.plot_url+"&delay=", true);
                      $info.html("").append(
                          $("<div class='sml'>"+
                                  "P1: "+Math.round(point1[0]*100000000)/100000000+", "+Math.round(point1[1]*100000000)/100000000+"<br>"+
                                  "P2: "+Math.round(point2[0]*100000000)/100000000+", "+Math.round(point2[1]*100000000)/100000000+"<br>"+
                                  "Distance: "+Math.round(data.distance*10)/10+" m<br>"+
                                  "Heading: "+Math.round(data.heading*10)/10+"&#176;<br>"+
                                  "Profile resolution: "+data.res+" m</div>"),
                          $("<a href='javascript:void(0)'>Open profile plot</a>").click(function(){
                              show_modalform("/templates/iframes/refresh-image.html?src="+data.plot_url+"&delay=", true);
                          })
                      );
                      point1 = null;
                      point2 = null;
                  }
            );
            click_map.off("click");
            $cursor_container.css("cursor", "inherit");
            $cursor_info.css("font-size", "inherit");
        }


        function get_profile_options() {
            var $platform_select = $("<select class='form-control'>").append($("<option value=''>-</option>"));
            $(map.targetlist).each(function(i,t){
                $platform_select.append("<option value='"+t.key+"'>"+t.name+"</option>");
            });
            $platform_select.attr("name", "src");

            $platform_select.change(function(){
                var src = $info.find("select[name='src']").val();
                var dest = $info.find("select[name='dest']").val();
                if (src !== "" && dest !== ""){
                    var src_pose = map.info[src].data('pose');
                    var dest_pose = map.info[dest].data('pose');

                    if (src_pose.hasOwnProperty("lat") && src_pose.hasOwnProperty("lon") &&
                        dest_pose.hasOwnProperty("lat") && dest_pose.hasOwnProperty("lon")) {
                        var point1 = [src_pose.lat, src_pose.lon, (src_pose.hasOwnProperty("depth") ? -src_pose.depth : 0)];
                        var point2 = [dest_pose.lat, dest_pose.lon, (dest_pose.hasOwnProperty("depth") ? -dest_pose.depth : 0)];
                        console.log(point1, point2);
                        show_profile(point1, point2);
                    }

                }
            });

            var $platform_select2 = $platform_select.clone(true).attr("name", "dest");

            $info.html("Select points or targets").append($platform_select, $platform_select2);

        }
    });

</script>