
<style>
    #geotiff-click-info {
        color: white;
{#        text-align: center;#}
        padding: 5px;
    }
    #geotiff-click-info .lat, #geotiff-click-info .lon {
        font-size: 10px;
        height: 45px;
    }
    #geotiff-click-info .depth {
        font-weight: bold;
    }
    #geotiff-click-info table tr {
        margin-bottom: 10px;
    }
    #geotiff-click-info table {
        margin-bottom: 10px;
    }
</style>

<div id="geotiff-click-info">
    <div class="info">
        Generate profile plot
    </div>
    <button class="btn btn-success btn-sm inspect" style="width: 100%">
        <i class="fa fa-crosshairs"></i> INSPECT
    </button>
{#    <button class="btn btn-success btn-sm log" style="width: 50%">#}
{#        <i class="fa fa-terminal"></i> LOG#}
{#    </button>#}
</div>

<script>
    var profile_point1 = null;
    var profile_point2 = null;


    $(document).ready(function(){
        var $container = $("#geotiff-click-info");
        var $info = $container.find(".info");
        var $btn_inspect = $container.find("button.inspect");
{#        var $lat = $container.find(".lat");#}
{#        var $lon = $container.find(".lon");#}
{#        var $depth = $container.find(".depth");#}
{#        var $btn_log = $container.find("button.log");#}
        //var $modal = $container.parents("#modal");

{#        getLatLon();#}

        $btn_inspect.click(getLatLon);

        function getLatLon() {
            var click_map = map.map;
            var $cursor_container = $(".leaflet-container");
            var $cursor_info = $(".leaflet-control-mouseposition");

            //$modal.modal("hide");
            $cursor_container.css("cursor","copy");
            $cursor_info.css("font-size","30px");

            $info.html("Click first point...");

            click_map.on("click",function(e){
                var lat = e.latlng.lat;
                var lon = e.latlng.lng;
                var loading = '<i class="fa fa-circle-o-notch fa-spin fa-fw"></i>';


                if (profile_point1 == null) {
                    $info.html("Click second point...");
                    profile_point1 = [lat, lon]
                }
                else if (profile_point2 == null) {
                    profile_point2 = [lat, lon];

                    $info.html(loading);
                    $.getJSON("/plugin/datatools.geotiff.maptracker_depth_profile?lat1="+profile_point1[0]+"&lon1="+profile_point1[1]+"&lat2="+profile_point2[0]+"&lon2="+profile_point2[1],
                          function(data){
                              console.log(data);
                              show_modalform("/templates/iframes/refresh-image.html?src="+data.plot_url+"&delay=", true);
                              $info.html("Done!");
                          }
                    );
                    click_map.off("click");
                    $cursor_container.css("cursor", "inherit");
                    $cursor_info.css("font-size", "inherit");
                    profile_point1 = null;
                    profile_point2 = null;
                }
                //$modal.modal("show");
            });
        }
    });



</script>