<!DOCTYPE html>
<html>
    <head>
        <title>Maptracker{% if offline %} (OFFLINE){% endif %}</title>

        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <!-- Mobile viewport scaling -->
{#        <meta name="viewport" content="width=device-width, initial-scale=1">#}

        <!-- Leaflet -->
{#        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css" />#}
{#        <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"></script>#}
        <link rel="stylesheet" href="static/leaflet-0.7.3/leaflet.css" />
        <script src="static/leaflet-0.7.3/leaflet.js"></script>

        <!-- General resources -->
        <script src="static/jquery-2.1.0.min.js"></script>
        <link rel="stylesheet" href="static/jquery-ui.1.11.3.css">
        <script src="static/jquery-ui.1.11.3.js"></script>
        <script src="static/pnotify2.0/pnotify.custom.min.js"></script>
        <link rel="stylesheet" href="static/bootstrap-3.2.0-dist/css/bootstrap.min.css">
        <script src="static/bootstrap-3.2.0-dist/js/bootstrap.min.js"></script>
        <link href="static/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet">


{#        <link href="static/pnotify2.0/pnotify.custom.min.css" rel="stylesheet">#}

        {% if not offline %}
        <script src="https://maps.google.com/maps/api/js?v=3.2&sensor=false"></script>
        <script src="static/leaflet-plugins/layer/tile/Google.js"></script>
        {% endif %}

{#        <link href='static/leaflet-fullscreen/dist/leaflet.fullscreen.css' rel='stylesheet' />#}
{#        <script src='static/leaflet-fullscreen/dist/Leaflet.fullscreen.min.js'></script>#}

        <!-- Show mouse position -->
        <link href='static/leaflet-mouseposition/src/L.Control.MousePosition.css' rel='stylesheet' />
        <script src="static/leaflet-mouseposition/src/L.Control.MousePosition.js"></script>

{#        <script src="static/leaflet-heat/leaflet-heat.js"></script>#}
        <script src="static/leaflet-heatmap/heatmap.min.js"></script>
        <script src="static/leaflet-heatmap/leaflet-heatmap.js"></script>


{#        <script src="static/leaflet-plugins/control/Permalink.js"></script>#}
{#        <script src="static/leaflet-plugins/control/Permalink.Line.js"></script>#}
{#        <script src="static/leaflet-plugins/control/Permalink.Layer.js"></script>#}
        <!--<script src="static/leaflet-plugins/control/Scale.js"></script>-->


{#        <!-- range measure tool -->#}
        <link rel="stylesheet" href="static/leaflet-draw/dist/leaflet.draw.css" />
        <script src="static/leaflet-draw/dist/leaflet.draw.js"></script>
        <link rel="stylesheet" href="static/leaflet-measure/leaflet.measurecontrol.css" />
        <script src="static/leaflet-measure/leaflet.measurecontrol.js"></script>

        <!-- range bearing measure tool -->
{#        <link rel="stylesheet" href="static/leaflet-polyline-measure/Leaflet.PolylineMeasure.css" />#}
{#        <script src="static/leaflet-polyline-measure/Leaflet.PolylineMeasure.js"></script>#}

{#        <script src="static/leaflet-plugins/layer/vector/KML.js"></script>#}

        <!-- useful utils -->
        <script src="static/bootstrap-plugins/bootbox.min.js"></script>
        <script src="static/jQuery-Knob/dist/jquery.knob.min.js"></script>


        <!-- Maptracker resources -->
        <script src="static/auvmapper.js"></script>
        <link href="static/auvmapper.css" rel="stylesheet">

        <style>
            {% if parameters.hidecontrols %}
            .leaflet-control-container {
                display: none;
            }
            {% endif %}
        </style>

    </head>
    <body ontouchstart="">


        <!-- Welcome note -->
        <div id="notify" class="alert alert-info alert-dismissible" role="alert" style="position: absolute; z-index: 1000; margin: 10px 20%; width: 60%; display: none;">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <div id="notify-text"></div>
        </div>

        <div style="width:500px; height:500px; background: #618dc0" id="map">
            <!--This is the div that contains all the magic-->
        </div>

        <!-- Modal -->
        <div class="modal" id="modal" tabindex="-1" role="dialog" aria-hidden="true" >
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-body">
                <a href="javascript:void(0)" class="pull-right close" data-dismiss="modal"><i class="fa fa-times"></i></a>
                <div id="modalcontent"></div>
              </div>
            </div>
          </div>
        </div>

        <script type='text/javascript'>

            // Create the map object - subscribe to an address
            var cfgfile = "{{ configfile }}"; // server from template address
            var oldcfgmtime = null;  // initialise old config time

            var map = new auvmapper();

            $(window).resize(function () {
                map.fullsize();
            });
            $(window).ready(function(){
                // initialise map
                map.init("map");

                {% if not license_is_valid %}
                    console.log("INVALID LICENCE! Do nothing - system is now open source. TODO: remove licence checks.");
                    //show_modalform ("/templates/html-snippets/form-licensekey.html");
                {% endif %}


                // Add settings modal control
                map.add_control("<i class='fa fa-crosshairs'></i><ul id='track-layers'></ul>", function(){return 0},"Move in to view","topright");
                $("#track-layers").parent().addClass("hover-expand");

                // Load layers from config file
                get_config("/get_config", cfgfile, load_layers);
                //loadlayersfromcfg("/get_config",cfgfile);

                // check for config updates
                get_config ("/get_config", cfgfile+'?action=getmtime', function(data, url, cfg){oldcfgmtime = data.mtime});
                check_configtime("/get_config", cfgfile, 10000);

                /*
                $('#modal').on('hidden.bs.modal', function () {
                    // clear modal content on hide
                    $("#modalcontent").html("");
                });
                */
            });






            /**
             * Load the layers from the config file for each of the layer types
             * @param layerdata
             * @param url
             * @param cfg
             */
            function load_layers(data, url, cfg) {
                var settings = data.settings;
                var layerdata = data.layers;

                // Show welcome note
                if (settings.welcomenote) {
                    $("#notify-text").html(settings.welcomenote);
                    $("#notify").show(1000);
                }
                // Add settings modal control
                // TODO: check if login required for settings
                if (settings.showsettings) {
                    map.add_control("<i class='fa fa-gear'></i>", function () {
                        show_modalform("/get_config/" + cfgfile + "?action=edit&form=html-snippets/modal-settings.html")
                    }, "Settings", "topleft");
                }

                $(layerdata).each(function(i,layercfg) {
                    get_config(url, layercfg, map.add_layer);
                });
            }


            function check_configtime(url, cfg, interval) {
                setInterval(function(){
                    get_config (url, cfg+'?action=getmtime', function(data, url, cfg){
                        if (oldcfgmtime != data.mtime && oldcfgmtime != null)
                            bootbox.confirm("<h4>RELOAD?</h4><p><i>The config file has been updated on the server. You need to reload the page.</i></p><p> <b>Click OK to reload now or CANCEL to reload manually later.</b></p>",
                                function(result) {if (result) location.reload();}
                            );
                        oldcfgmtime = data.mtime;
                    });
                }, interval);
            }

            function get_config (url, cfg, callbackfnc) {
                //console.log(url, cfg, sec);
                var dataurl = url+"/"+cfg;
                $.ajax({
                    dataType: "json",
                    url: dataurl,
                    cache: false,
                    //async: false,                    // prevent async to return variables
                    success: function (data) {
                        callbackfnc(data, url, cfg);
                    },
                    error : function (jqXHR, status, desc) {
                        console.log("Cannot load config for: "+cfg+": "+desc);
                    }
                });
            }

            function show_modalform (url, useiframe) {
                useiframe = (useiframe === true);
                $("#modalcontent").html("");
                if (useiframe) {
                    $("#modalcontent").html("<iframe style='width:100%; height:"+Math.min($(window).height()-200, 500)+"px; border:none;' src='" + url + "'></iframe>");
                    $("#modal").modal("show");
                }
                else {
                    $("#modalcontent").load(url, function () {
                        $("#modal").modal("show");
                    });
                }
            }

            function getParameterByName(name, url) {
                if (typeof url == "undefined") url = location.search;
                name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
                var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
                    results = regex.exec(url);
                return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
            }

        </script>

    </body>
</html>
