<h4 style="text-align: center;"><i class="fa fa-key"></i> Enter license key</h4>
<form class="licesekeyform form-horizontal" action="get_config/{{ settings.servercfg }}" method="POST">
    <div class="form-group">
        <div class="alert alert-danger">
            <i class="fa fa-exclamation-triangle"></i> Your license has either expired or is not valid. Please enter a valid license key.
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label" >Key:</label>
        <div class="col-sm-6">
            <input name="license" class="form-control" type="text" placeholder="License key is case sensitive">
            <small class="help-block">This will update the license key contained in the config file: "{{ settings.servercfg }}".</small>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-6"  style="text-align: center">
            <button class="btn btn-primary" type="submit"><i class="fa fa-key"></i> UPDATE!</button>
        </div>
    </div>
</form>

<script>
    $('form.licesekeyform').submit(function(e){
        var $form = $(this);
        var formURL = $form.attr("action");
        var postData = {
            "cfgtxt": $form.find("input[name='license']").val(),
            "cfgfield": "license"
        };

        if (postData.cfgtxt.trim() !== "") {
            $.ajax({
                url: formURL,
                type: "POST",
                data: postData,
                success: function (data, textStatus, jqXHR) {
                    $form.html(data.msg).addClass('alert alert-success');
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    show_error($form, jqXHR.responseText);
                    //$form.html(jqXHR.responseText).addClass('alert alert-danger');
                    console.log(jqXHR, textStatus, errorThrown);
                }
            });
        }
        e.preventDefault(); //STOP default action
        return false;

        function show_error($form, error_text){
            $form.html(error_text).addClass('alert alert-danger');
        }
    });
</script>