<style>
    #cfg-edit-modal #cfg-server-layers .badge {
        background-color: #428bca;
        font-weight: normal;
    }
    #cfg-edit-modal #cfg-server-layers .badge a {color: white;}
    #cfg-edit-modal #cfg-server-layers .badge a.del:hover {text-decoration: none; color: black}
    #cfg-edit-modal form.cfg-edit textarea{
        min-height: 150px;
        font: 11px 'Courier New', courier, monospace;
        white-space: pre;
        word-wrap: normal;
        overflow-x: scroll;
    }


</style>

<div id="cfg-edit-modal">
<h4 style="text-align: center;"><i class="fa fa-edit"></i> <span id="cfg-form-title"></span>Server settings & layer config</h4>
<hr>


    <div class="input-group">
    <select class="form-control" id="cfgdir-filter" style="min-width: 100px">
        <option value="">FILTER BY</option>
        {% for cd in cfgdirs %}
        <option value="{{ cd }}">{{ cd }}</option>
        {% endfor %}
    </select>
    <span class="input-group-btn" style="width:0px;"></span>
    <select class="form-control" id="cfg-selector">
        <option value="">Select a layer to ADD:</option>
        {% for layer in layers %}
        <option data-cfgdir="{{layer.cfgdir}}" data-cfg="{{layer.cfg}}" value="{{layer.cfgdir}}/{{layer.cfg}}">{{layer.cfgdir}} > {{ layer.cfg }}</option>
        {% endfor %}
    </select>
    </div>

    <small>Active layers for: <b>{{ cfgdir }} > {{ cfg }}</b></small>
    <div id="cfg-server-layers" class="well well-sm"></div>

    {#
       Form for layer config file
    #}

    <form class="form-horizontal cfg-edit" id="cfg-edit-layer" style="display: none;" method="post" action="">
        <small>Make changes to layer: <b id="cfg-edit-layer-title"></b></small>
        <textarea class="form-control" name="cfgtxt"></textarea>
        <input type="hidden" name="servercfg" value="{{ servercfg }}">
        <button class="btn btn-primary btn-sm" type="submit" title="Save"><i class="fa fa-save"></i> Save changes</button>
        <button class="btn btn-default btn-sm" type="button" title="Cancel" onclick="$(this).parents('form.cfg-edit').hide()">Cancel</button>
        <button class="btn btn-danger cfg-show-save btn-sm" type="button" style="display: none;"><i class="fa fa-warning"></i>  CHANGES NOT SAVED</button>
        <hr>
    </form>

    {#
        Form for editing server config file
    #}
    <form class="form-horizontal cfg-edit" id="cfg-edit-server" method="post" action="">
        <div class="well well-sm">
            <a href="javascript:void(0)" onclick="$(this).siblings('textarea').toggle()" style="display: block; text-decoration: none;">Server config <i class="fa fa-arrow-circle-down pull-right"></i></a>
            <textarea class="form-control" name="cfgtxt" style="display: none;"></textarea>
        </div>
        <input type="hidden" name="servercfg" value="">
        <button class="btn btn-primary" type="submit" title="Save"><i class="fa fa-save"></i> Update server config</button>
        <button class="btn btn-danger cfg-show-save" type="button" style="display: none;"><i class="fa fa-warning"></i>  CHANGES NOT SAVED</button>
{#        <button class="btn btn-default" type="button" title="Cancel" data-dismiss="modal">Cancel</button>#}
    </form>
</div>



<script>

    load_cfg_form($("form#cfg-edit-server"), "{{ servercfg }}");
    $("#cfgdir-filter").on("change", function(){filter_cfg_list($(this).val())});
    $("#cfg-selector").on("change", function(){edit_layers($(this).val())});

    function load_cfg_form($form, cfgpath) {
        var cfgurl = 'get_config/'+cfgpath;
        $form.attr("action", cfgurl);                   // set cfg form action url
        $form.find("#cfg-edit-layer-title").html(cfgpath);

        $.getJSON(cfgurl, function (data) {
            set_cfg_data($form, data);
        });
    }

    function set_cfg_data($form, data) {
        var $cfgtxt = $form.find("textarea[name='cfgtxt']");
        $cfgtxt.html(JSON.stringify(data, null, 2));    // set cfg txt
        if (data.type === "server") {
            update_layers(data);
        }
        else{
            $form.show();
        }
    }

    function update_layers(data) {
        var $cfglayers = $("#cfg-server-layers");
        $cfglayers.html("");
        $(data.layers).each(function (i, el) {
            $("#cfg-selector option[value='"+el+"']").data('active', true).hide();
            var $layeredit = $("<a href='javascript:void(0)' title='Edit layer'>" + el + "</a> ").click(function(){
                var $layer_edit_form = $("form#cfg-edit-layer");
                load_cfg_form($layer_edit_form, el);
            });
            var $layerdel = $("<a class='del' href='javascript:void(0)' title='Remove layer'> <i class='fa fa-times'></i></a>").click(function(){
                edit_layers(el, "del");
            });
            $cfglayers.append($("<span class='badge'></span>").append($layeredit, $layerdel));
        });
    }


    function edit_layers(layerpath, action){
        var $layerselect = $("select#cfg-selector");
        var $server_form = $("form#cfg-edit-server");
        var $server_cfgtxt = $server_form.find("textarea[name='cfgtxt']");

        if (typeof action === 'undefined') action='add';
        if (layerpath !== '') {
            var data = JSON.parse($server_cfgtxt.html());
            if (action ==='add') {
                data.layers.push(layerpath);
                $layerselect.find("option[value='"+layerpath+"']").hide().data('active', true);
                $("#cfg-selector").val("");
            }
            else if (action ==='del') {
                data.layers = data['layers'].filter(function(item){
                    return item !== layerpath;
                });
                $layerselect.find("option[value='"+layerpath+"']").show().data('active', false);
            }
            set_cfg_data($server_form, data);
        }
    }

    //function update_layers

    $('form.cfg-edit').submit(function(e){
        var $form = $(this);
        var formURL = $form.attr("action");
        var postData = {
            "cfgtxt": $form.find("textarea[name='cfgtxt']").val(),
            "servercfg": $form.find("input[name='servercfg']").val()
        };
        var checkJSON = IsJsonString(postData.cfgtxt);

        if (checkJSON.isValid) {
            $.ajax({
                url: formURL,
                type: "POST",
                data: postData,
                success: function (data, textStatus, jqXHR) {
                    $form.html(data.msg).addClass('alert alert-success');
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    show_error($form, jqXHR.responseText);
                    //$form.html(jqXHR.responseText).addClass('alert alert-danger');
                    console.log(jqXHR, textStatus, errorThrown);
                }
            });
        }
        else {
            show_error($form, "<b>SYNTAX ERROR:</b> There was a syntax error in the config file. "+
                    checkJSON.msg+
                    ". It has not been saved. Please try again.");
        }
        e.preventDefault(); //STOP default action
        return false;

        function show_error($form, error_text){
            $form.html(error_text).addClass('alert alert-danger');
        }

        // Check if str is valid JSON
        function IsJsonString(str) {
            try {JSON.parse(str);}
            catch (e) {return {isValid:false, msg: e.message};}
            return {isValid:true, msg:""};
        }
    });

    function filter_cfg_list(cfgdir) {
        var $select = $('#cfg-selector').val("");
        $select.find("option").each(function(i, el){
            if ((cfgdir === '' || $(el).data('cfgdir') === cfgdir || $(el).attr('value') === '') && !$(el).data('active'))
                $(el).show();
            else
                $(el).hide();
        });
    }

</script>