<h4 style="text-align: center;"><i class="fa fa-user"></i> Manage your user data</h4>
<hr>
<div class="row">
    <div class="col-sm-12">
        <p class="help-block">Upload or download your custom user files from the server. This includes <b>config files, templates, plugin modules and datatools</b>.</p>
    </div>
</div>
<hr>
<div class="row" id="mydata-upload">
    <div class="col-sm-7">
        Upload your custom files to the server.
    </div>
    <div class="col-sm-5">
        <button class="btn btn-primary form-control" style="margin-left:10px" onclick="$(this).replaceWith($('<i></i>').addClass('fa fa-spinner fa-spin fa-3x')); $.get('/mydata/upload', function(data){$('#mydata-upload').html((data.message)).addClass('alert alert-info')})"><i class="fa fa-upload"></i> Upload</button>
    </div>
</div>
<hr>
<div class="row" id="mydata-download">
    <div class="col-sm-7">
        Download your custom files from the server.
    </div>
    <div class="col-sm-5">
        <button class="btn btn-primary form-control" style="margin-left:10px" onclick="$(this).replaceWith($('<i></i>').addClass('fa fa-spinner fa-spin fa-3x')); $.get('/mydata/download', function(data){if (data.success) location.reload(); else $('#mydata-download').html((data.message)).addClass('alert alert-info')})"><i class="fa fa-download"></i> Download</button>
    </div>
</div>
<hr>
<div class="row" id="mydata-reset">
    <div class="col-sm-7">
        Reset prepackaged files with defaults.
    </div>
    <div class="col-sm-5">
        <button class="btn btn-primary form-control" style="margin-left:10px" onclick="$(this).replaceWith($('<i></i>').addClass('fa fa-spinner fa-spin fa-3x')); $.get('/mydata/reset', function(data){$('#mydata-reset').html((data.message)).addClass('alert alert-info')})"><i class="fa fa-refresh"></i> Reset</button>
    </div>
</div>
<small class="help-block">This will not overwrite your custom files, but it will overwrite all the prepackaged templates and demo files</small>
<hr>
<div class="row">
    <div class="col-sm-12">
         <p class="help-block"><b>NOTES:</b> (a) this requires an internet connection, (b) files are uploaded &amp; downloaded based on your license key, (c) these actions will overwrite any existing files.</p>
    </div>
</div>
