
<b><i class="fa fa-gears"></i> Settings & Tools</b>
<hr>
<div class="row" style="padding-right: 10px">
    <div class="col-sm-4" id="server-config-file-layer-container">
        <small>
        <ul class="nav nav-pills nav-stacked">
            <li><a href="javascript:void(0)" onclick="load_panel('get_config/servers/{{ cfg }}?action=edit')" ><i class="fa fa-pencil-square"></i> Layers / Config</a></li>
{#            <li><a href="javascript:void(0)" onclick="load_panel('/get_config?action=edit')"><i class="fa fa-files-o"></i> Manage active layers</a></li>#}
            <li><a href="javascript:void(0)" onclick="load_panel('/templates/html-snippets/form-mydata.html')"><i class="fa fa-user"></i> My Data</a></li>
            <li><a href="javascript:void(0)" onclick="load_panel('/templates/plugins/cache_tiles.html')"><i class="fa fa-save"></i> Offline Tile Layer</a></li>
        </ul>
        </small>
    </div>
    <div class="col-sm-8 well" style="margin: 0; min-height: 300px">
        <div  id="server-config-editor">
            <small style="color: #979797; display: block; margin: 40px;"><i class="fa fa-info-circle"></i> Choose from the options on the left.</small>
        </div>
    </div>
</div>


<script>
    $.ajaxSetup ({
        // Disable caching of AJAX responses
        cache: false
    });

    function load_panel(link){
        $('#server-config-file-layer-container li').removeClass('active');
        $("#server-config-editor").load(link);
    }
</script>