<h3 style="text-align: center;"><i class="fa fa-comment"></i> Log a note or post something</h3>
<hr>
<form class="note-post-form form-horizontal" action="" method="POST">
    <div class="form-group">
        <label class="col-sm-3 control-label" >Title:</label>
        <div class="col-sm-7">
            <input type="text" class="form-control" placeholder="Brief title of note / post">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label" >Details:</label>
        <div class="col-sm-7">
            <textarea class="form-control" placeholder="Details / description"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label" >Attachments:</label>
        <div class="col-sm-7">
            <input type="file" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label" >Post to:</label>
        <div class="col-sm-7">
            <label><input type="checkbox"> <i class="fa fa-facebook-square"></i> facebook</label><br>
            <label><input type="checkbox"> <i class="fa fa-twitter-square"></i> twitter</label><br>
            <label><input type="checkbox"> IRLS</label><br>
            <label><input type="checkbox"> <i class="fa fa-magic"></i> Dive report</label>
        </div>
    </div>

    <hr>
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-6">
            <button type="button" class="btn btn-danger"><i class="fa fa-comment"></i> Post note!</button>
        </div>
    </div>
</form>