
<b><i class="fa fa-info-circle"></i> Real-time Robot Tracker</b>
<hr>
<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#info-team" aria-controls="info-team" role="tab" data-toggle="tab">Meet the Team</a></li>
    <li role="presentation"><a href="#info-about" aria-controls="info-about" role="tab" data-toggle="tab">About</a></li>
    <li role="presentation"><a href="#info-more" aria-controls="info-more" role="tab" data-toggle="tab">More info</a></li>
</ul>

<div class="tab-content">
    <br>
    <div role="tabpanel" class="tab-pane active" id="info-team">
        <p>
        The <a href="http://marine.acfr.usyd.edu.au" target="_blank">Marine Robotics Group</a> from the
            <a href="http://www.acfr.usyd.edu.au" target="_blank">Australian Centre for Field Robotics</a> is currently
            leading a research expedition in the Timor Sea (NW of Australia) at a spectacular, isolated, coral wonder known as
        Scott Reef.
            The international team are deploying multiple robotic platforms from the <b><a href="http://www.schmidtocean.org/story/show/3578" target="_blank">Schmidt Ocean Institute's</a></b>
            RV Falkor and are collecting copious amounts of photographic and oceanographic data. The collaborative
        team of engineers and scientists come from a variety of different institutions:
        </p>
        <ul>
            <li><b><a href="http://www.acfr.usyd.edu.au" target="_blank"> Australian Centre for Field Robotics at the University of Sydney</a>: </b><br>
                <small>Oscar Pizarro (Chief Scientist), Stefan Williams, Ariell Friedman, Andrew Durant, Lachlan Toohey</small></li>
            <li><b><a href="http://www.whoi.edu" target="_blank">Woods Hole Oceanographic Institution</a>: </b><br>
                <small>Richard Camilli, Angelos Mallios</small></li>
            <li><b><a href="http://www.uri.edu" target="_blank">University of Rhode Island</a>:</b><br>
                <small>Chris Roman, Will Snyder</small></li>
            <li><b><a href="https://manoa.hawaii.edu/" target="_blank">University of Hawaii at Manoa</a>:</b><br>
                <small>Jeff Oshiro</small></li>
            <li><b><a href="http://web.mit.edu/" target="_blank"> Massachusetts Institute of Technology:</a></b><br>
                <small>Brian Williams, Eric Timmons</small></li>
            <li><b><a href="http://www.evologics.de/" target="_blank">EvoLogics</a></b><br>
                <small>Oleksiy Kebkal, George Pleskach</small></li>
        </ul>
        <p>Click <b><a href="http://www.schmidtocean.org/story/show/3578" target="_blank">here</a></b> to find out more on the SOI website.<br>
        <br><b>We need your help! <a href="http://helpscience.marine.acfr.usyd.edu.au" target="_blank">Click here to help us label the images that are collected!</a></b></p>
    </div>
    <div role="tabpanel" class="tab-pane" id="info-about">
        <p>
            This page allows you to checkout the underwater robots in action!
            If you see a moving ship with animated icons moving around, it means that <b>right now</b>, we are out at sea
            using robots to gather underwater images and oceanographic data.
<br><br>
            This data is used for many purposes including habitat mapping, change detection, monitoring biodiversity and
          change detection. In this collaborative process, the robots gather imagery and then the scientists identify
          and label the content in the pictures. This helps scientists understand what is out there and how it's
          changing through time.
        </p>
        <p>
            These underwater robots are producing massive amounts imagery: tens of thousands of pictures can be collected
          by a single robot in a day. It would be impossible for scientists to look at every single image and label
          every object within them.

            We use the relatively few labels we get from marine scientist to train computer algorithms to classify the data.
            The more labels we get, the better the classifier becomes... That's where you can help!

            </p><p>
            Your involvement helps the robots help the scientists.  <b><a href="http://helpscience.marine.acfr.usyd.edu.au" target="_blank">Click here to lend your eyes and a few click of
          your mouse to help us understand and identity more of our undersea world.</a></b>
        </p>
    </div>
    <div role="tabpanel" class="tab-pane" id="info-more">
        <p>
            This system was developed to track multiple Autonomous Underwater Vehicles (AUVs) during field ops.
            It provides real-time updates of the locations of all the platforms relative to the ships and / or work boats that
            deploy them. It allows for custom or pre-existing map layers to be loaded both online and offline which allows for
            the easy identification of hazards, provides context and also gives a pretty backdrop to the map.
        </p>
        <p>
            Given the system is web-based, it is relatively straight forward to extend the system to push updates to shore,
            provided we have satellite or 3G connectivity while out at sea (which is often not the case).
        </p>
        <p>
            This real-time robot tracker system was made by <a href="http://www-personal.acfr.usyd.edu.au/ariell.friedman/" target="_blank"> Ariell Friedman</a>
        </p>
    </div>
</div>

<hr>
