{#            <a class="twitter-timeline"  href="https://twitter.com/hashtag/CoordinatedRobotics" data-widget-id="951289976817254401">#CoordinatedRobotics Tweets</a>#}
{#            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>#}
<a class="twitter-timeline" href="https://twitter.com/{{ parameters.twitteracc }}">Tweets by {{ parameters.twitteracc }}</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>