<h3 style="text-align: center;"><i class="fa fa-exclamation-circle"></i> Send a command to: "{{platform}}"</h3>
<hr>
<form class="auvform form-horizontal" action="send_command/platformdata.acfrauv.Platform/{{ platform }}" method="POST">
    <div class="form-group">
        <label for="auvcmdpos" class="col-sm-3 control-label" >Command:</label>

        <div class="col-sm-7">
            <label class="radio" onclick="$('.auvcmd').hide();$('#auvcmd-abort').show();">
                <input type="radio" name="command" id="auvcmd3" value="abort"> Abort
            </label>
            <div id="auvcmd-abort" class="auvcmd"  style="display: none;">
                <em>This will send an abort signal to the AUV. It will cancel the current mission.</em>
            </div>

            <label class="radio"  onclick="$('.auvcmd').hide();$('#auvcmd-goto').show();">
                <input type="radio" name="command" id="auvcmd2" value="goto"> GoTo
            </label>
            <div id="auvcmd-goto" class="auvcmd" style="display: none;">
                <p><em>This will send the AUV to a specific location with specific parameters. Fill out the parameters below.</em></p>
                <div style="width: 20%; float: right; text-align: right;">
                    <a class="btn btn-primary" href="javascript:void(0)" onclick="getLatLon($('#auvcmdlat'), $('#auvcmdlon'))"><i class="fa fa-crosshairs"></i></a>
                </div>
                <div style="width: 80%; display: inline-block;">
                    <input type="text" class="form-control" id="auvcmdlat" name="lat" placeholder="Latitude">
                    <input type="text" class="form-control" id="auvcmdlon" name="lon" placeholder="Longitude">
                    <input type="text" class="form-control" name="depth" placeholder="Depth (m)">
                    <input type="text" class="form-control" name="velocity" placeholder="Velocity (m/s)">
                    <input type="text" class="form-control" name="timeout" placeholder="TimeOut (s)">
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-6">
            <button type="submit" class="btn btn-danger"><i class="fa fa-external-link-square"></i> Send Command!</button>
        </div>
    </div>
</form>



<script>
//callback handler for form submit
$(".auvform").submit(function(e) {
    var $form = $(this);
    //var postData = $form.serializeArray();
    var postData = {};
    $form.serializeArray().map(function(x){
        postData[x.name] = x.value;
    });

    var formURL = $form.attr("action");
    $.ajax(
    {
        url : formURL,
        type: "POST",
        data : JSON.stringify(postData),
        dataType: "json",
        contentType: 'application/json;charset=UTF-8',
        success:function(data, textStatus, jqXHR){
            $form.html(data.msg).addClass('alert alert-success');
        },
        error: function(jqXHR, textStatus, errorThrown){
            $form.html("ERROR!  "+errorThrown).addClass('alert alert-danger');
        }
    });
    e.preventDefault(); //STOP default action
    e.unbind(); //unbind. to stop multiple form submit.
});


function getLatLon($lat, $lon) {
    $("#modal").modal("hide");
    $(".leaflet-container").css("cursor","copy");
    $(".leaflet-control-mouseposition").css("font-size","30px");
    map.map.on("click",function(e){
        $lat.val(e.latlng.lat);
        $lon.val(e.latlng.lng);
        map.map.off("click");
        $(".leaflet-container").css("cursor","inherit");
        $(".leaflet-control-mouseposition").css("font-size","inherit");
        $("#modal").modal("show");
    });
}
</script>