<h3 style="text-align: center;"><i class="fa fa-external-link-square"></i> Set STATE for: "{{platform}}"</h3>
<hr>
<form class="form-horizontal auvform" id="state-form" action="data/{{module}}/{{platform}}" method="POST">
{#    <div class="form-group">#}
{#        <label for="auvstate" class="col-sm-3 control-label">Online</label>#}
{##}
{#        <div class="col-sm-6">#}
{#            <label class="radio" onclick="$('.auvstate').hide();">#}
{#                <input type="radio" name="state" value="online" checked> Online#}
{#            </label>#}
{#        </div>#}
{#    </div>#}
    <div class="form-group">
        <label class="col-sm-3 control-label" >State</label>

        <div class="col-sm-6">
            <label class="radio" onclick="$('.auvstate').hide();$('#auvstate-follow').show(); $('#auvstatemsg').val('Recovered')">
                <input type="radio" name="state" id="auvstate3" value="follow"> Recovered (follow ship)
            </label>
            <select class="auvstate form-control"  style="display: none;" id="auvstate-follow" name="follow">

            </select>

            <label class="radio"  onclick="$('.auvstate').hide();$('#auvstate-stationary').show(); $('#auvstatemsg').val('Deployed!')">
                <input type="radio" name="state" value="stationary"> Deployed / Stationary (set position)
            </label>
            <div id="auvstate-stationary" class="auvstate" style="display: none;">
                <div style="width: 20%; float: right; text-align: right;">
                    <a class="btn btn-primary" href="javascript:void(0)" onclick="getLatLon($('#auvstatelat'), $('#auvstatelon'))"><i class="fa fa-crosshairs"></i></a>
                </div>
                <div style="width: 80%; display: inline-block;">
                    <label style="width:30%; display:inline-block">LAT:</label><input style="width:70%; display:inline-block" type="number" class="form-control" id="auvstatelat" name="lat" placeholder="Latitude" step="any">
                    <label style="width:30%; display:inline-block">LON:</label><input style="width:70%; display:inline-block" type="number" class="form-control" id="auvstatelon" name="lon" placeholder="Longitude" step="any">
                    <label style="width:30%; display:inline-block">UNC:</label><input style="width:70%; display:inline-block" type="number"  class="form-control" name="uncertainty" value="0.2" step="any">
                    <label style="width:30%; display:inline-block">SPEED:</label><input style="width:70%; display:inline-block" type="number"  class="form-control" name="speed" value="0.5" step="any">
{#                    <input type="number"  class="form-control" name="heading" value="0" disabled step="any">#}
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="form-group">
        <label for="auvstatepos" class="col-sm-3 control-label">Description</label>

        <div class="col-sm-6">
             <input type="text" class="form-control" name="statemsg" id="auvstatemsg" placeholder="Next deployment / comment">
        </div>
    </div>
    <hr>
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-6">
            <button type="submit" class="btn btn-danger"><i class="fa fa-external-link-square"></i> Update State!</button>
        </div>
    </div>
</form>



<script>
$(map.targetlist).each(function(i,t){
    $("#state-form").find("select#auvstate-follow").append("<option value='"+t.key+"'>"+t.name+"</option>")
});


$.get("data/{{module}}/{{platform}}", function(data){
    var $form = $("#state-form");
    var pose = (data.state == "follow") ? map.info[data.follow].data('pose') : data.pose;
    //console.log(pose);
    $form.find("input[name=lat]").val(pose.lat);
    $form.find("input[name=lon]").val(pose.lon);
});

//var pose = (data.state == "follow") ? _this.info[data.follow].data('pose') : data.pose;

//callback handler for form submit
function serialise_form($form) {
    var data = {};
    data['state'] = $form.find("input[name=state]:checked").val();
    data['statemsg'] = $form.find("input[name=statemsg]").val();
    //if (data['state']=='online')  // do nothing
    if (data['state']=='follow') {
        data['follow'] = $form.find("select[name=follow] option:selected").val();
    }
    else if (data['state']=='stationary') {
        data['pose'] = {
            'lat': parseFloat($form.find("input[name=lat]").val()),
            'lon': parseFloat($form.find("input[name=lon]").val()),
{#            'heading': parseFloat($form.find("input[name=heading]").val()),#}
            'uncertainty': parseFloat($form.find("input[name=uncertainty]").val()),
            'speed': parseFloat($form.find("input[name=speed]").val())
        }
    }
    return data;
}

$(".auvform").submit(function(e) {
    var $form = $(this);
    var postData = serialise_form($form);
{#    $form.serializeArray().map(function(x){#}
{#        if (x.type == 'number') postData[x.name] = parseFloat(x.value);#}
{#        else postData[x.name] = x.value;#}
{#    }); // serialise form into object (not array)#}
    var formURL = $form.attr("action");
    //console.log(postData);
    $.ajax(
    {
        url : formURL,
        type: "POST",
        data : JSON.stringify(postData),
        dataType: "json",
        contentType: 'application/json;charset=UTF-8',
        success:function(data, textStatus, jqXHR){
            $form.html(data.msg).addClass('alert alert-success');
        },
        error: function(jqXHR, textStatus, errorThrown){
            $form.html("ERROR!  "+errorThrown).addClass('alert alert-danger');
        }
    });
    e.preventDefault(); //STOP default action
    return false;
});


function getLatLon($lat, $lon) {
    $("#modal").modal("hide");
    $(".leaflet-container").css("cursor","crosshair");
    $(".leaflet-control-mouseposition").css("font-size","30px");
    map.map.on("click",function(e){
        $lat.val(e.latlng.lat);
        $lon.val(e.latlng.lng);
        map.map.off("click");
        $(".leaflet-container").css("cursor","inherit");
        $(".leaflet-control-mouseposition").css("font-size","inherit");
        $("#modal").modal("show");
    });
}
</script>